.recipe-amount {
  p {
    text-align: center;
  }
}

.recipes-card-grid {
  display: grid;
  padding: 0.3rem;
  row-gap: 1.5rem;
  max-width: 1200px;
  margin: 0 auto;
}

@media (min-width: 480px) {
  .recipes-card-grid {
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
  }
}

@media (min-width: 768px) {
  .recipes-card-grid {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
  }
}
