@import "../../../style//partials//variables";

.comment {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-areas: "comment-image comment-image comment-body comment-body comment-body comment-body comment-body comment-body";
  background-color: map-get($colors, lighter-grey);
  border-radius: 20px;
}

.comment__user-img {
  grid-area: comment-image;
  text-align: center;
  align-content: center;

  img {
    padding: 0.5rem;
    width: 70%;
    border-radius: 50%;
  }
}

.comment__body {
  grid-area: comment-body;

  // This element is a part of agrid and has a grid itself
  display: grid;
  grid-template-rows: 1fr minmax(1rem) 1fr;
  grid-template-areas:
    "author"
    "message"
    "message"
    "date";
  align-items: center;
}

.comment__body__author {
  grid-area: author;

  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 0.3rem;
}

.comment__body__message {
  grid-area: message;
  word-wrap: break-word;
  word-break: break-all;

  font-size: 1rem;
  padding: 0.5rem;
}

.comment__body__date {
  grid-area: date;

  font-size: 0.8rem;
  font-style: italic;
  padding: 0.5rem 0.3rem;
}

// Actions for a owner of a post
.actions {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-areas: "nd nd delete delete delete delete delete delete";
}
.comment__delete {
  grid-area: delete;
  button {
    padding: 0.5rem 0.3rem;
    border: none;
    background-color: transparent;
    color: red;
  }
}

// Action modal
.actions-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(212, 212, 212, 0.2);
}

.actions-modal__content {
  position: relative;
  background-color: rgb(200, 200, 225);
  border: 2px solid black;
  border-radius: 10px;
  width: 85%;
  top: 30%;
  margin: 0 auto;
  padding: 0.5rem;
}

.actions-modal__content__header {
}

.actions-modal__content__body {
}

.actions-modal__content__footer {
  text-align: end;

  button {
    margin-left: 0.3rem;
  }
}

.modal-submit-button {
  background-color: rgb(85, 155, 255);
  border: 2px solid map-get($colors, lighter-black);
  border-radius: 5px;
}

.modal-cancel-button {
  background-color: rgb(255, 65, 65);
  border: 2px solid map-get($colors, lighter-black);
  border-radius: 5px;
  color: white;
}
