@import "../../../style//partials//variables";

.comment {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-areas: "comment-image comment-image comment-body comment-body comment-body comment-body comment-body comment-body";
  background-color: map-get($colors, lighter-grey);
  border-radius: 20px;
}

.comment__user-img {
  grid-area: comment-image;
  text-align: center;
  align-content: center;

  img {
    padding: 0.5rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
  }
}

.comment__body {
  grid-area: comment-body;

  // This element is a part of agrid and has a grid itself
  display: grid;
  grid-template-rows: 1fr minmax(1rem) 1fr;
  grid-template-areas:
    "author"
    "message"
    "message"
    "date";
  align-items: center;
}

.comment__body__author {
  grid-area: author;

  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 0.3rem;
}

.comment__body__message {
  grid-area: message;
  word-wrap: break-word;
  word-break: break-all;

  font-size: 1rem;
  padding: 0.5rem;
}

.comment__body__date {
  grid-area: date;

  font-size: 0.8rem;
  font-style: italic;
  padding: 0.5rem 0.3rem;
}

// Actions for a owner of a post
.actions {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-areas: "nd nd actions actions actions actions actions actions";
}
.comment__actions {
  grid-area: actions;
}

.delete-comment-button {
  padding: 0.3rem;
  margin: 0.3rem;
  border: none;
  background-color: transparent;
  color: rgb(255, 15, 15);
  background-color: rgb(255, 15, 15, 0);

  &:hover {
    color: white;
    background-color: rgba(255, 15, 15, 0.7);
    transition: background-color 200ms ease-in;
    border-radius: 5px;
  }
}

.edit-comment-button {
  padding: 0.3rem;
  border: none;
  background-color: transparent;
  color: rgb(0, 42, 255);
  background-color: rgb(0, 42, 255, 0);
  &:hover {
    color: white;
    background-color: rgba(0, 42, 255, 0.7);
    transition: background-color 200ms ease-in;
    border-radius: 5px;
  }
}
