@import "../../../style/partials/variables";

.user-image-container {
  margin: 1rem auto;
  text-align: center;
  img {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
  }
}

.user-image-form {
  display: grid;
  row-gap: 0.7rem;
  small {
    text-align: center;
    color: gray;
  }

  input {
    padding: 0.3rem;
    border: 1px solid black;
    border-radius: 10px;
  }

  input::file-selector-button {
    @include button-black;
    padding: 0.3rem 0.5rem;
  }

  button {
    width: 5rem;
    margin: 0 auto;
    @include button-black;
    font-weight: bold;
    &:hover {
      @include button-hover;
    }
  }
}

.upload-progress--hidden {
  display: none;
}

.upload-progress--active {
  display: block;
  font-weight: bold;
  text-align: center;
  span {
    color: map-get($colors, light-red);
  }
}

.upload-error--active {
  font-weight: bold;
  text-align: center;
  color: map-get($colors, light-red);
}

.file-size-error--active {
  text-align: center;
  color: map-get($colors, light-red);

  span {
    font-weight: bold;
  }
}
