@import "../../../style/partials/variables";

.user-image-container {
  margin: 1rem auto;
  text-align: center;
  img {
    width: 40%;
    border-radius: 10%;
  }
}

.user-image-form {
  display: grid;
  row-gap: 0.7rem;
  small {
    text-align: center;
    color: gray;
  }

  input {
    padding: 0.3rem;
    border: 1px solid black;
    border-radius: 10px;
  }

  input::file-selector-button {
    @include button-black;
    cursor: pointer;
    padding: 0.3rem 0.5rem;

    &:hover {
      @include button-hover;
    }
  }

  button {
    width: 5rem;
    margin: 0 auto;
    @include button-black;
    font-weight: bold;
    &:hover {
      @include button-hover;
    }
  }
}

.upload-progress--hidden {
  display: none;
}

.upload-progress--active {
  display: block;
  font-weight: bold;
  text-align: center;
  span {
    color: map-get($colors, light-red);
  }
}

.upload-error--active {
  font-weight: bold;
  text-align: center;
  color: map-get($colors, light-red);
}

.file-size-error--active {
  text-align: center;
  color: map-get($colors, light-red);

  span {
    font-weight: bold;
  }
}

.user-data {
  p {
    small {
      color: gray;
    }
  }
}

.user-actions {
  text-align: center;

  button {
    margin: 0 0.3rem;
    padding: 0.3rem 0.4rem;
    border-radius: 5px;
    box-shadow: 2px 2px 2px black;
  }

  .delete-profile {
    background-color: rgb(255, 42, 42);
    color: white;
    font-weight: bold;
  }
}

.psw-change-success {
  display: grid;
  grid-template-columns: 9fr 1fr;
  border: 1px solid black;
  margin: 1rem auto;
  padding: 0.3rem 0.5rem;
  background-color: rgb(87, 195, 87);
  border-radius: 10px;
  align-items: center;

  p {
    color: white;
    text-align: center;
    margin: 0;
  }

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
  }
}

.update-form {
  display: grid;
  row-gap: 0.5rem;
  margin-top: 1rem;

  button {
    @include button-black;
    &:hover {
      @include button-hover;
    }
    width: 100%;
    padding: 0.5rem 0;
    margin: 0 auto;
  }

  input {
    @include input-style;
    font-size: 1rem;
  }

  small {
    color: gray;
    font-style: italic;
    text-align: center;
  }
}
.psw-change-err {
  text-align: center;
  color: red;
}

.user-delete-form {
  margin: 1.5rem auto;
  h4,
  p {
    margin: 1rem 0;
    text-align: center;
  }
  div {
    text-align: center;
  }
  input {
    @include input-style;
    font-size: 1rem;
    border-radius: 0;
    width: 60%;
  }
  button {
    cursor: pointer;
    height: 30px;
    width: 20%;
    background-color: rgb(255, 42, 42);
    color: white;
    font-weight: bold;
    border: 1px solid black;
  }
}
