@import "../../../style/partials/variables";

.actions-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(212, 212, 212, 0.2);
}

// Modifier to show element
.display-block {
  display: block !important;
}

.actions-modal__content {
  position: relative;
  background-color: rgb(200, 200, 225);
  border: 2px solid black;
  border-radius: 10px;
  width: 85%;
  max-width: 550px;
  top: 30%;
  margin: 0 auto;
  padding: 0.5rem;
  animation: fadeIn 500ms 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.actions-modal__content__header {
  h4 {
    font-weight: bold;
  }
}

.actions-modal__content__body {
  p {
    text-align: center;
  }

  textarea {
    font-size: 1rem;
  }
}

.edit-comment-text {
  display: none;
  width: 100%;
  margin: 1rem auto;
  padding: 0.5rem;
}

// Buttons in the footer
.actions-modal__content__footer {
  text-align: end;

  button {
    margin-left: 0.3rem;
    padding: 0.3rem 0.5rem;
  }
}

// Buttons styling
.modal-submit-button {
  background-color: rgb(255, 65, 65);
  border: 2px solid map-get($colors, lighter-black);
  border-radius: 5px;
  color: white;

  &:hover {
    @include button-hover;
  }
}

.modal-cancel-button {
  background-color: rgb(85, 155, 255);
  border: 2px solid map-get($colors, lighter-black);
  border-radius: 5px;

  &:hover {
    @include button-hover;
  }
}
