@import "../../style/partials/variables";
// HEADER and header brand style
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  background-color: map-get($colors, light-green);
}

.nav-section {
  z-index: 50;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.header-brand {
  width: 3.5rem;
  height: 3.5rem;

  img {
    width: 100%;
    height: 100%;
  }
}

// MOBILE-Navigation
.mobile-nav-button {
  width: 4rem;
  height: 3.5rem;
  border: none;
  background: transparent;
  cursor: pointer;

  span {
    display: block;
    background-color: black;
    border-radius: 10px;
    width: 100%;
    height: 0.35rem;
    margin: 0.5rem 0;
  }
}

.mobile-nav-items--hidden {
  opacity: 0;
  transition: opacity 3s ease-out;

  a {
    display: none;
    text-decoration: none;
    color: map-get($colors, lighter-black);

    img {
      display: none;
    }
  }

  button {
    display: none;
  }
}

.mobile-nav-items--active {
  opacity: 1;
  display: block;
  transition: opacity 1s ease-in;
  list-style: none;
  background-color: map-get($colors, lighter-black);

  a {
    display: flex;
    text-decoration: none;
    color: white;
    padding: 0.5rem 1rem;

    &:hover {
      background-color: map-get($colors, lighter-black);
      color: map-get($colors, lighter-black);
    }
  }

  button {
    margin: 0.2rem 0 0.7rem 1rem;
    padding: 0.5rem 1rem;
    border: none;
    font-weight: bold;
    font-size: 0.9rem;
    background-color: rgb(250, 42, 42);
    color: rgb(251, 211, 211);
    border-radius: 10px;

    &:hover {
      font-weight: bold;
    }
  }
}
.mobile-nav-image {
  width: 1.3rem;
  margin-right: 0.35rem;
}

.backdrop {
  display: none;
  position: fixed;
  z-index: 25;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #b6b6b6;
  opacity: 0;
  transition: opacity 1s ease-out;
}

.open {
  display: block;
  opacity: 0.4;
}

// DESKTOP NAV
.desktop-nav {
  display: none;
  align-items: center;
  list-style: none;
  margin: 0;

  li {
    margin: 0 0.5rem;
    padding: 0.4rem 0.2rem;
    &:hover {
      font-size: 1.1rem;
    }
    a {
      text-decoration: none;
      color: map-get($colors, lighter-black);
    }
    button {
      padding: 0.5rem 1rem;
      font-weight: bold;
      border: none;
      font-size: 0.9rem;
      background-color: rgb(250, 42, 42);
      color: rgb(251, 211, 211);
      border-radius: 10px;
    }
  }
}

.active {
  font-weight: bold;
}

@media (min-width: 768px) {
  .mobile-nav-button {
    display: none;
  }

  .desktop-nav {
    display: flex;
  }
}
