@import "../style//partials/variables";

.form-section {
  padding: 1rem;
  max-width: 480px;

  h5 {
    text-align: justify;
    font-size: 1rem;
  }

  form {
    display: grid;
    row-gap: 0.8rem;
    margin: 1rem auto;

    input {
      font-size: 1rem;
      @include input-style;
    }

    textarea {
      font-size: 1rem;
      padding: 0.5rem;
      border: 1px solid map-get($colors, lighter-black);
      border-radius: 3px;

      &:focus-visible {
        outline-color: map-get($colors, light-blue);
      }
    }

    button {
      @include button-black;

      &:hover {
        @include button-hover;
      }
    }
  }
}

.hidden {
  display: none;
}

.success {
  text-align: center;
  color: green;
  font-weight: bold;
}

.failure {
  text-align: center;
  color: map-get($colors, light-red);
  font-weight: bold;
}

@media (min-width: 480px) {
  .form-section {
    margin: 2rem auto;
    h4 {
      font-size: 1.2rem;
    }
  }
}

@media (min-width: 768px) {
  .form-section {
    margin-top: 4rem;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 3px 3px 3px map-get($colors, lighter-black);
    h4 {
      font-size: 1.3rem;
    }
  }
}
