@import "../style//partials//variables";

.error-container {
  margin-top: 10%;
  text-align: center;

  h3 {
    font-size: 1.6rem;
  }
  p {
    color: map-get($colors, light-red);
    margin: 2rem;
    font-size: 1rem;
    font-weight: bold;
    font-style: italic;
  }

  a {
    text-decoration: none;
    background-color: map-get($colors, light-blue);
    color: white;
    font-weight: bold;
    border: 2px solid black;
    padding: 0.5rem 0.7rem;
    border-radius: 10px;
    &:hover {
      @include button-hover;
    }
  }
}

@media (min-width: 480px) {
  .error-container {
    h3 {
      font-size: 2rem;
    }

    p {
      font-size: 1.2rem;
    }
  }
}
