* {
  box-sizing: border-box;
}

html {
  height: 100%;
  background-color: aqua;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: 74px auto 82px;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

main {
  grid-area: main;
  margin-top: 74px;
}
