* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

#root {
  height: 100%;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: 72px auto 72px;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

main {
  grid-area: main;
}
