.main-content {
  margin: 1rem auto;
  padding: 0 1rem;
  max-width: 750px;

  h1 {
    text-align: center;
    margin-bottom: 1rem;
  }

  p {
    text-align: justify;
  }
}

@media (min-width: 480px) {
  .main-content {
    margin: 1.5rem auto;

    h1 {
      margin-bottom: 1.5rem;
    }
  }
}

@media (min-width: 768px) {
  .main-content {
    margin: 2rem auto;

    h1 {
      margin-bottom: 2rem;
    }
  }
}
