@import "./partials/variables";

.login-form {
  display: grid;
  row-gap: 0.8rem;
  margin: 1rem auto;
  padding: 1rem;
  max-width: 480px;

  h4 {
    text-align: center;
  }

  p {
    text-align: center;
    a {
      text-decoration: none;
      font-weight: bold;
    }
  }
  button {
    @include button-black;
    &:hover {
      @include button-hover;
    }
    width: 100%;
    padding: 0.5rem 0;
    margin: 0 auto;
  }

  input {
    @include input-style;
    font-size: 1rem;
  }
}

.login-err-paragraph--hidden {
  display: none;
}

.login-err-paragraph--active {
  display: block;
  font-weight: bold;
  color: map-get($colors, light-red);
}

.login-status {
  font-weight: bold;
  color: map-get($colors, light-red);
}

@media (min-width: 480px) {
  .login-form {
    margin: 2rem auto;
    h4 {
      font-size: 1.2rem;
    }
  }
}

@media (min-width: 768px) {
  .login-form {
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 3px 3px 3px map-get($colors, lighter-black);
    margin-top: 5rem;
    h4 {
      font-size: 1.3rem;
    }
  }
}

@media (min-width: 1200px) {
  .login-form {
    h4 {
      font-size: 1.5rem;
    }

    label {
      font-size: 1.1rem;
    }

    p {
      font-size: 1.1rem;
    }
  }
}
