// HEADER and header brand style
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background-color: #69d969;
}

.nav-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.header-brand {
  width: 3.5rem;
  height: 3.5rem;

  img {
    width: 100%;
    height: 100%;
  }
}

// MOBILE-Navigation
.mobile-nav-button {
  width: 3.5rem;
  height: 3.5rem;
  border: none;
  background: transparent;
  cursor: pointer;

  span {
    display: block;
    background-color: black;
    border-radius: 10px;
    width: 100%;
    height: 0.35rem;
    margin: 0.5rem 0;
  }
}

.mobile-nav-items--hidden {
  visibility: hidden;
  margin-top: 48px;
}

.mobile-nav-items--active {
  display: block;
  margin-top: 72px;
  list-style: none;
  background-color: #ccc;

  a {
    display: block;
    text-decoration: none;
    color: black;
  }
}
