$colors: (
  light-green: #9dd89d,
  lighter-black: #2c2c2c,
  light-grey: #ccc,
  lighter-grey: #ddd,
);

@mixin button-hover() {
  background-color: #3232c8;
  color: white;
  font-weight: bold;
}

@mixin button-black() {
  color: white;
  background-color: map-get($colors, lighter-black);
  padding: 0.5rem;
  border-radius: 5px;
}
